body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #dc4c3e !important;
  --bs-btn-border-color: #dc4c3e !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #dc4c3e !important;
  --bs-btn-hover-border-color: #dc4c3e !important;
  --bs-btn-focus-shadow-rgb: 26, 26, 26 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #dc4c3e !important;
  --bs-btn-active-border-color: #dc4c3e !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #fff !important;
  --bs-btn-disabled-bg: #dc4c3e !important;
  --bs-btn-disabled-border-color: #dc4c3e !important;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #18181b !important;
}

img {
  -webkit-user-drag: none;
}

main {
  padding: 55px 100px;
  height: 100vh;
  width: 100%;
}

body {
  color: #202020;
}