body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #151515 !important;
  color: #fff;
}

img {
  -webkit-user-drag: none;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #22c55e !important;
}

main {
  padding: 54px 20%;
  height: 100%;
}

.navbar-brand {
  font-size: 1.2rem !important;
  color: #22c55e !important;
}

.navbar-brand i {
  color: #fff;
  background-color: #22c55e;
  padding: 0 3px;
  border-radius: 5px;
  margin-right: 10px;
}

.form-control {
  background-color: #151515 !important;
}

.input-container input {
  padding: 10px;
  padding-left: 40px;
}

.input-container i {
  transform: translateY(-180%);
  margin-left: 14px !important;
}

.list-group-item {
  border-radius: 0 !important;
}

.form-check-input {
  border: 2px solid #fff !important;
  width: 18px !important;
  height: 18px !important;
}

.form-control:focus {
  border-color: #495057 !important;
  outline: 0;
  box-shadow: 0 !important;
}

.codeInput {
  border: 0;
  border-bottom: 1px solid #5ec660;
  border-radius: 0 !important;
}

.codeInput:focus {
  background-color: transparent !important;
  border-color: #5ec660 !important;
  outline: 0;
}

.footer {
  padding: 0 0 40px;
  font-size: 14px;
}

.footer .copyright {
  color: #5ec660;
  font-size: 14px;
}

.footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #a6a6a6;
}

@media screen and (max-width: 768px) {
  main {
    padding: 25px 15% !important;
  }

  .codeContainer {
    width: 86%;
  }

  .codeInput {
    width: 88%;
  }

  .header {
    padding: 3rem 1.5rem 1.5rem 1.5rem;
  }
}
